<% if current_user %>

<%= render partial: 'form' %>

<hr>

  <table class="table table-striped table-hover">
    <th>Scheduled Tweet</th>
    <th>Date / Time to be Tweeted</th>
    <th>You Sure?</th>
    <% @tweets.where(published: false).each do |t| %>
    <tr>
      <td><em>"<%= t.body %>"</em></td>

      <td><%= t.scheduled_time.strftime("%a %b %-d, %Y, %l:%M%p") %></td>

      <td><%= link_to "Delete", t, method: :delete %></td>
    </tr>
    <% end %>
  </table>

<% else %>
  <p>
    Please <a href="/users/auth/twitter">Login with Twitter</a> to continue.
  </p>
<% end %>
