<div class="jumbotron">
  <h1>Tweet @better_time than now...</h1>
</div>

<div class="row">
  <h2>When I Want?</h2>
  <p>
    yes when you want, read on if you want to learn more...
  </p>
  <div class="col-md-4">
    <h3>step 1</h3>
    sign up for account
  </div>

  <div class="col-md-4">
    <h3>step 2</h3>
    create a tweet and schedule for latter time....
  </div>

  <div class="col-md-4">
    <h3>step 3</h3>
    realize you were drunk when you wrote that and cancell
  </div>

</div>
