

<div class="row">
  <h2>When I Want?</h2>
  <p>
    Yes when you want.
  </p>
  <div class="col-md-4">
    <h3>Step 1</h3>
    <a href="/users/auth/twitter">sign up</a> for account...
  </div>

  <div class="col-md-4">
    <h3>Step 2</h3>
    ...create and schedule tweet for a latter time....
  </div>

  <div class="col-md-4">
    <h3>Step 3</h3>
    ...realize you were drunk when you wrote that and cancell.
  </div>

</div>
